################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/20231108_UC_GRAPH/AppUserControlMusicLib/bin/x86/Debug/AppX/View/UIEqualizer.xbf
/20231108_UC_GRAPH/AppUserControlMusicLib/View/UIEqualizer.xaml
/20231108_UC_GRAPH/AppUserControlMusicLib/View/UIEqualizer.xaml.cs
